.foot{
    margin-top: 150px;
    box-sizing: border-box;
    background-color: var(--Black);
    width: 100%;
    height: auto;
    padding: 3% 10%;
    @media (max-width:375px) {
        padding: 10% 0px;
        margin-top: 50px;
    }
    color:var(--White);
}
.gridArea{
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-row-gap:20px ;
    grid-template-areas:
        "land1 icon2"
        "nav3 righ4"
    ; 
    @media (max-width:375px) {
        grid-template-areas:
        "land1"
        "nav3"
        "icon2"
        "righ4";
        justify-items: center;
    }
}
.landMark1{
    font-weight: 400;
    font-size: 20px;
    font-family:'Alata';
    grid-area: land1;
}
.icon2{
    grid-area: icon2;
    .icon{
        margin:10px ; 
        padding-bottom: 5px;
    }
    .icon:hover{
        border-bottom: 2px solid var(--White);
        cursor: pointer;
    }
    @media (min-width:376px) {
        justify-self: end;
    }
}
.route{
    grid-area: nav3; 
        display: grid;
        padding-right: 15%;
        grid-template-columns: repeat(5,1fr);
        grid-row-gap: 20px;
        @media (max-width: 375px) {
            grid-template-columns: 1fr;
            padding-right:0px;
        }
        align-items: center;
        justify-items: start;
        &-btn{
          text-decoration: none;
          color:var(--White);
          font-weight: 400;
          font-size: 15px;
          font-family:'Alata';
          padding-bottom: 5px;
        }
        &-btn:hover{
            border-bottom: 2px solid var(--White);
        }
}
.rights4{
    grid-area: righ4; 
    color: var(--Dark-Gray);
    @media (min-width:376px) {
        justify-self: end;
    }
}

