/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    // Global Variable
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}
body{
    font-size: 15px;
}