<div class="container">
    <div class="creation">
        <div class="title">OUR CREATIONS</div>
        <a class="btn btn-desktop" href="#">SEE ALL</a>
    </div>
    <div class="allCards">
        <ng-container *ngFor="let card of cardDate">
            <div class="card img_desktop" style="background-image: url('assets/desktop/{{card.imgURL}}');">
                <div class="card-cover">
                    <div class="card-txt">{{card.text|uppercase}}</div>
                </div>
            </div>
            <div class="card img_mobile" style="background-image: url('^assets/mobile/{{card.imgURL}}');">
                <div class="card-cover">
                    <div class="card-txt">{{card.text|uppercase}}</div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

 <div class="btn-mobile">
    <a class="btn" href="#">SEE ALL</a>
 </div>